---
import MainLayout from '../layouts/Layout.astro';
import Navbar from '../components/navbar.tsx';
import Hero from '../components/hero.tsx';
import Stacks from '../components/stacks.astro';
import LogoAnimation from '../components/logoAnimation.tsx';
import Portfolio from '../components/portfolio.tsx';
import Contact from '../components/contact.tsx';
import Footer from '../components/footer.astro';
---

<MainLayout 
  title="Naufal Ananta | Full-Stack Web Developer & Software Engineer Purwokerto" 
  description="Naufal Ananta — Full-Stack Web Developer & Software Engineer Purwokerto. Full-Stack Web Developer Purwokerto. Lihat proyek unggulan dalam pengembangan web, aplikasi, dan sistem informasi." 
>

  <Navbar client:load />

  <main>
    <Hero client:visible/>
    <Stacks/>
    <LogoAnimation client:visible/>
    <Portfolio client:visible/>
    <Contact client:visible/>
  </main>
  
  <Footer />
</MainLayout>